{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block page_title '新規作成' %}

{% block content %}
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-light" href="{{ path('blog_index') }}">一覧に戻る</a>
    <button type="submit" class="btn btn-primary">作成</button>
  {{ form_end(form) }}
{% endblock content %}
